table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px; /* Adjust padding as needed */
  text-align: left;
}

tr.disabled {
  opacity: 0.5; /* or any other styles you want to apply to disabled rows */
  pointer-events: none; /* this will prevent mouse events on disabled rows */
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }